@model IList<Park>
@{
    ViewData["Title"] = "Home Page";
}



<table class="table table-bordered">

    @foreach (Park park in Model)
    {
        <tr>
            <td>
                <img src="~/images/parks/@(park.Park_Code).jpg" />
            </td>
            <td>
                <b>Location:</b> <br /> @park.State
            </td>
            <td>
                Park Name: 
                <a asp-controller="home" asp-action="Detail" asp-route-parkCode="@park.Park_Code">
                    <br />@park.Park_Name
                </a>
            </td>
            <td>
                <b>Description:</b><br />@park.Description
            </td>

        </tr>
    }
</table>
