@model IList<SurveyResultVM>
@{
    ViewData["Title"] = "SurveyResults";
}

<h2>SurveyResults</h2>
<table>
    <thead>
        <tr>
            <th>Park Name</th>
        </tr>
        <tr>
            <th>Number of Surveys</th>
        </tr>
    </thead>
    <tbody>
        @foreach (SurveyResultVM survey in Model)
        {
            <tr>
                <td>
                    <img src="~/images/parks/@(survey.ParkCode).jpg" />
                </td>
            </tr>
            <tr>
                <td>
                    @survey.ParkName
                </td>
            </tr>
            <tr>
                <td>
                    @survey.SurveyCount
                </td>
            </tr>
        }
    </tbody>
</table>
